# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
.hypothesis/

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# Cython debug symbols
cython_debug/

# Virtual environments
env/
venv/
ENV/
venv.bak/
venv.bkp/
.env/
.venv/

# Poetry-specific
# poetry.lock
# poetry.toml

# IDE specific files
.idea/
.vscode/
*.swp

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm specific
*.iml
*.ipr
*.iws
.idea/
